<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/eca</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="connection.pool_size">1</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="current_session_context_class">thread</property>
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <property name="show_sql">false</property>
    <property name="hbm2ddl.auto">validate</property>
    <mapping class="model.PbfPagamentos2011"/>
    <mapping class="model.PbfSaques2011"/>
    <mapping class="model.PbfPagamentos2012"/>
    <mapping class="model.PbfSaques2012"/>
    <mapping class="model.PbfPagamentos2013"/>
    <mapping class="model.PbfSaques2013"/>
    <mapping class="model.PbfPagamentos2014"/>
    <mapping class="model.PbfSaques2014"/>
    <mapping class="model.PbfPagamentos2015"/>
    <mapping class="model.PbfSaques2015"/>
    <mapping class="model.PbfPagamentos2016"/>
    <mapping class="model.PbfSaques2016"/>
    <mapping class="model.PbfPagamentos2017"/>
    <mapping class="model.PbfSaques2017"/>
  </session-factory>
</hibernate-configuration>
